body {
    background-color: rgb(84, 68, 99);
}


h1 {
  background-color: rgb(245, 241, 17);
  text-align: center;
  color: black;
}

table{
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    text-align: center;
    padding: 10px;
    border: 1px solid black;
  }
  th {
    background-color: rgb(245, 241, 17);
    color: black;
    font-size: 18px;
  }